<a href="https://colab.research.google.com/github/jaffershareef/B8_PFDS_1496/blob/main/lab5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

** Question 1 **

In [1]:
import pandas as pd

# Products Dataset
products = pd.DataFrame({
    'product_id': [101, 102, 103, 104, 105],
    'product_name': ['Laptop', 'Mouse', 'Keyboard', 'Monitor', 'Printer'],
    'category': ['Electronics', 'Accessories', 'Accessories', 'Electronics', 'Electronics'],
    'price': [80000, 500, 1500, 12000, 6000]
})

# Sales Dataset
sales = pd.DataFrame({
    'sale_id': [1, 2, 3, 4, 5, 6, 7],
    'product_id': [101, 102, 103, 104, 101, 105, 103],
    'quantity': [1, 5, 3, 2, 2, 1, 2]
})

In [2]:
# Inner Join
merged_inner = pd.merge(sales, products, on='product_id', how='inner')
print("Inner Join:\n", merged_inner)

# Outer Join
merged_outer = pd.merge(sales, products, on='product_id', how='outer')
print("\nOuter Join:\n", merged_outer)

Inner Join:
    sale_id  product_id  quantity product_name     category  price
0        1         101         1       Laptop  Electronics  80000
1        2         102         5        Mouse  Accessories    500
2        3         103         3     Keyboard  Accessories   1500
3        4         104         2      Monitor  Electronics  12000
4        5         101         2       Laptop  Electronics  80000
5        6         105         1      Printer  Electronics   6000
6        7         103         2     Keyboard  Accessories   1500

Outer Join:
    sale_id  product_id  quantity product_name     category  price
0        1         101         1       Laptop  Electronics  80000
1        5         101         2       Laptop  Electronics  80000
2        2         102         5        Mouse  Accessories    500
3        3         103         3     Keyboard  Accessories   1500
4        7         103         2     Keyboard  Accessories   1500
5        4         104         2      Monitor  Electronics  12000
6        6         105         1      Printer  Electronics   6000

In [3]:
# Add Revenue Column
merged_inner['revenue'] = merged_inner['price'] * merged_inner['quantity']

# Total Revenue
total_revenue = merged_inner['revenue'].sum()

# Average Product Price
avg_price = products['price'].mean()

# Product-wise Sales
product_sales = merged_inner.groupby('product_name').agg(
    total_quantity=('quantity', 'sum'),
    total_revenue=('revenue', 'sum')
)

# Category-wise Analysis
category_sales = merged_inner.groupby('category').agg(
    total_quantity=('quantity', 'sum'),
    total_revenue=('revenue', 'sum')
)

# Best-selling Category
best_category = category_sales['total_revenue'].idxmax()

In [4]:
print("\nTotal Revenue:", total_revenue)
print("Average Product Price:", avg_price)
print("\nProduct-wise Sales:\n", product_sales)
print("\nCategory-wise Sales:\n", category_sales)
print("\nBest-Selling Category:", best_category)

Total Revenue: 280000
Average Product Price: 20000.0

Product-wise Sales:
               total_quantity  total_revenue
product_name
Keyboard                   5           7500
Laptop                     3         240000
Monitor                    2          24000
Mouse                      5           2500
Printer                    1           6000

Category-wise Sales:
              total_quantity  total_revenue
category
Accessories              10          10000
Electronics               6         270000

Best-Selling Category: Electronics

** Question 2 **

In [5]:
import pandas as pd

In [6]:
teachers = pd.DataFrame({
    'teacher_id': [1, 2, 3, 4, 5],
    'teacher_name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve'],
    'department': ['CS', 'CS', 'ECE', 'ME', 'ECE']
})

In [7]:
courses = pd.DataFrame({
    'course_id': ['C101', 'C102', 'C103', 'C104', 'C105', 'C106', 'C107'],
    'course_name': ['Python', 'ML', 'Circuits', 'Mechanics', 'AI', 'Maths', 'Control Systems'],
    'teacher_id': [1, 1, 3, 4, 2, 5, 3]
})

In [8]:
inner_merged = pd.merge(courses, teachers, on='teacher_id', how='inner')
print("ðŸ“˜ Inner Join Result:")
print(inner_merged)

ðŸ“˜ Inner Join Result:
  course_id      course_name  teacher_id teacher_name department
0      C101           Python           1        Alice         CS
1      C102               ML           1        Alice         CS
2      C103         Circuits           3      Charlie        ECE
3      C104        Mechanics           4        Diana         ME
4      C105               AI           2          Bob         CS
5      C106            Maths           5          Eve        ECE
6      C107  Control Systems           3      Charlie        ECE

In [9]:
left_merged = pd.merge(courses, teachers, on='teacher_id', how='left')
print("\nðŸ“— Left Join Result:")
print(left_merged)

ðŸ“— Left Join Result:
  course_id      course_name  teacher_id teacher_name department
0      C101           Python           1        Alice         CS
1      C102               ML           1        Alice         CS
2      C103         Circuits           3      Charlie        ECE
3      C104        Mechanics           4        Diana         ME
4      C105               AI           2          Bob         CS
5      C106            Maths           5          Eve        ECE
6      C107  Control Systems           3      Charlie        ECE

In [10]:
courses_per_teacher = courses['teacher_id'].value_counts()
average_courses = courses_per_teacher.mean()

print("\nðŸ“ˆ Average Courses per Teacher:", round(average_courses, 2))

ðŸ“ˆ Average Courses per Teacher: 1.4

In [11]:
department_workload = inner_merged.groupby('department').agg(
    total_courses=('course_id', 'count'),
    unique_teachers=('teacher_id', 'nunique')
).reset_index()

print("\nðŸ“Š Department-wise Workload:")
print(department_workload)

ðŸ“Š Department-wise Workload:
  department  total_courses  unique_teachers
0         CS              3                2
1        ECE              3                2
2         ME              1                1